spat-app
  div.h-full(data-is='spat-nav')
  div(data-is='spat-modal')
  div(data-is='spat-toast')

  style(type='less').
    :scope {
      display: block;
      height: 100%;

      .spat-page {
        height: 100%;
      }
    }

  script.
    this.title = 'Hello, spat with parcel!';
    this.cachedPages = {};

    this.on('mount', async () => {
      this.navTag = this.tags['spat-nav'];
      this.modalTag = this.tags['spat-modal'];
      this.toastTag = this.tags['spat-toast'];
    });

    this.triggerWithChildren = (tag, event, opts) => {
      tag.trigger(event, opts);

      var tags = _.flatten(Object.values(tag.tags));
      tags.forEach(tag => this.triggerWithChildren(tag, event, opts));
    };
