spat-nav
  div.h-full(ref='pages')

  style(type='less').
    :scope {
      display: block;
      height: 100%;

      .spat-page {
        height: 100%;
      }
    }

  script.
    this.cachedPages = {};
    this.preloadIndex = 0;
    this.preloadData = [];

    this.goto = async ({route, req, res, ssr=true}) => {
      var tagName = '';
      var cached = false;

      if (typeof route.tag === 'function') {
        tagName = await route.tag({req, res});
      }
      else {
        tagName = route.tag;
      }

      this.trigger('pagechange');

      var tempPageTag = this.currentPageTag;

      // すでにページがある場合 hide する
      if (spat.isBrowser && tempPageTag) {
        tempPageTag.trigger('hide', {
          req, res
        });
        tempPageTag.root.style.display = 'none';
      }

      // エラーじゃないときのみキャッシュからの取得を試みる
      var currentPageTag = !res.error ? this.getCachedPage(req.url) : null;

      if (currentPageTag) {
        currentPageTag.root.style.display = '';
        cached = true;
      }
      else {
        var element = document.createElement('div');
        element.setAttribute('data-is', tagName);
        element.setAttribute('class', 'spat-page');
        element.setAttribute('cache-key', req.url);
        currentPageTag = riot.mount(element, tagName)[0];
        this.refs.pages.appendChild(element);
      }

      // current となるページをセット
      this.currentPageTag = currentPageTag;

      // preload 実行
      try {
        // ssr が true のときのみ preload を実行
        if (ssr) {
          await this.preload(currentPageTag, {
            req, res, cached,
          });

          // redirect がかかっていたら非表示にして以降をスキップ
          if (res.statusCode === 301 || res.statusCode === 302) {
            currentPageTag.root.style.display = 'none';
            return ;
          }
        }

        if (this.currentPageTag === currentPageTag) {
          // head 設定
          this._head = this.setupHead(currentPageTag);
          this.trigger('pagechanged', {});

          // 最後にキャッシュする(エラーページ以外)
          if (spat.isBrowser && !res.error) {
            this.cachePageTag(this.currentPageTag);
          }
        }
        // 非同期処理終了後に, 別のページになっていた場合は非表示に戻す(すぐにスワイプバックされたとき等)
        else {
          // TODO: hide も実行する
          currentPageTag.root.style.display = 'none';
        }
      }
      catch(e) {
        // 非表示に戻す
        currentPageTag.root.style.display = 'none';

        // console にも出す
        console.error(e);

        res.error = e;
        // エラーが出たら page-error を表示する
        var errorRoute = {
          tag: 'page-error'
        };
        await this.goto({route:errorRoute, req, res});
      }

      // show イベントを発火
      if (spat.isBrowser) {
        this.currentPageTag.trigger('show', {
          req, res, cached
        });
        this.currentPageTag.update();
      }

      return {
        cached,
      };
    };

    // ページタグをキャッシュ
    this.cachePageTag = (tag) => {
      this.cachedPages[tag.opts.cacheKey] = tag;
    };

    // ページタグを取得
    this.getCachedPage = (cacheKey) => {
      return this.cachedPages[cacheKey];
    };

    // preload を再帰呼び出し
    this.preload = async (tag, opts) => {
      if (tag.preload) {
        var data = {};
        if (spat.isBrowser && spat.preloadData[this.preloadIndex]) {
          data = spat.preloadData[this.preloadIndex++];
        }
        else {
          data = await tag.preload(opts);
          this.preloadData[this.preloadIndex++] = data;
        }
        Object.assign(tag, data);
        tag.update();
      }

      // すべてのタグをまとめて配列化
      var tags = _.flatten(Object.values(tag.tags));

      // 子タグがない場合は何もしない
      if (tags.length <= 0) return ;

      // preload する
      var promises = tags.map(async (tag) => {
        return this.preload(tag, opts);
      });

      await Promise.all(promises);
    };

    // head をセットアップ
    this.setupHead = (tag) => {
      var head = {};
      spat.utils.extendDeep(head, spat.config.head);
      if (tag.head) {
        var data = tag.head();
        spat.utils.extendDeep(head, data);
      }

      return head;
    };

    this.getHead = () => {
      return this._head || spat.config.head;
    };
