html
  head
    meta(charset='utf-8')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.min.js')
  body
    div(data-is='app')
    script(src='/scripts/spalate.js')
