page-index
  div
    div.sticky.t0.z100(data-is='module-header')

    div.container.p16
      h1.mb16 {title}

      div.my8
        div
          div.mb1(each='{item in items}', data-is='item-group', item='{item}')

  style(type='less').
    :scope {
      display: block;
    }

  script.
    this.title = 'Hello, spat with parcel!';

    this.preload = async ({req, res, cached}) => {
      if (cached) return ;

      console.log('index: preload');
      var ref = db.collection('groups');
      var ss = await ref.get({source: "cache"});
      
      if (ss.empty) {
        var ss = await ref.get({source: "server"});
      }

      var items = ss.docs.map(doc => {
        return {
          id: doc.id,
          ref: doc.ref,
          data: doc.data(),
        }
      });

      items = [...items, ...items, ...items];

      return {
        items,
      };
    };

    this.head = () => {
      return {
        title: 'トップページ',
      };
    };

    this.on('beforeunload', e =>{
      e.returnValue = true;
    });
    
    this.on('show', async () => {
      console.log('index: show');
    });
    this.on('hide', async () => {
      console.log('index: hide');
    });
    this.on('client', async () => {
      console.log('index: client');
    });

