page-debug
  div.f.h-full
    div.w300.h-full.bg-black.text-white
      div.p16 メニュー
    div.overflow-scroll.s-full
      div.container
        div(data-is='module-header')
        //- h1 {title}

        div.mb16
          div isNode: {spat.isNode}
          div isBrowser: {spat.isBrowser}
        
        div.mb16
          a.p8(href='/debug/redirect') リダイレクトへのリンク

        div.mb16
          div(data-is='module-note', note-id='1')
          div(data-is='module-note', note-id='2')
          div(data-is='module-note', note-id='3')

        div.p16
          div.s64.bg-red

        div.mb16
          img(src='/images/kenkyo.png')
        
        div.mb16
          ul.ml32
            li(each='{item in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]}') item {item}
        
        div.mb16
          ul.ml32
            li(each='{item in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]}') item {item}
        
        div.mb16
          ul.ml32
            li(each='{item in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]}') item {item}

    style(type='less').
      :scope {
        display: block;
      }

  script.
    this.title = 'Hello, spat with parcel!';

    this.preload = async () => {
    };

    this.head = () => {
      return {
        title: 'aaaaaaa',
      };
    };

    this.on('show', async () => {
    });

    this.on('beforeunload', e => {
      e.returnValue = 'beforeunload\n遷移しますか？';
    });
