page-index
  div.container
    div.sticky.t0.z100(data-is='module-header')
    h1 {title}

    div.my8
      div
        div.mb1(each='{item in items}', data-is='item-group', item='{item}')

  style(type='less').
    :scope {
      display: block;
    }

  script.
    this.title = 'Hello, spalate with parcel!';

    this.preload = async () => {
      var ref = db.collection('groups');
      var ss = await ref.get({source: "cache"});
      
      if (ss.empty) {
        var ss = await ref.get({source: "server"});
      }

      var items = ss.docs.map(doc => {
        return {
          id: doc.id,
          ref: doc.ref,
          data: doc.data(),
        }
      });

      return {
        items,
      };
    };

    this.head = () => {
      return {
        title: 'トップページ',
      };
    };

    this.on('show', async () => {
      var modal = spalate.modal.alert('Hello, world!', 'aaaaaaaaa');
      await modal.waitClose();

      console.log('モーダル閉じたよ!');
    });
