app
  div(data-is='{pageTag}')

  script.
    this.title = 'Hello, spalate with parcel!';

    this.on('mount', async () => {
      var path = location.pathname;
      if (path === '/') {
        var route = routes[location.pathname];
      }
      else {
        var route = routes['/groups/:id'];
      }

      if (route.tag) {
        this.pageTag = route.tag;
        this.update();
      }
    });
