app
  div(ref='page', data-is='{pageTag}')

  script.
    this.title = 'Hello, spalate with parcel!';

    this.on('mount', async () => {
    });

    this.gotoPage = async (pageTag, req, res) => {
      this.pageTag = pageTag;
      this.update();

      if (this.refs.page.fetch) {
        var data = await this.refs.page.fetch({req, res});
        Object.assign(this.refs.page, data);
        this.refs.page.update();
      }

      this.refs.page.trigger('show');
      this.refs.page.update();
    };
