app
  div(ref='page', data-is='{pageTag}')

  script.
    this.title = 'Hello, spalate with parcel!';

    this.on('mount', async () => {
    });

    this.gotoPage = async (pageTag, req, res) => {
      this.pageTag = pageTag;
      this.update();

      // fetch 実行
      await this.fetch(this.refs.page, req, res);

      // head 取得
      this.head = this.getHead(this.refs.page);

      if (spalate.isBrowser) {
        this.refs.page.trigger('created');
      }

      this.refs.page.trigger('show');
      this.refs.page.update();
    };

    this.fetch = async (tag, req, res) => {
      if (tag.fetch) {
        var data = await tag.fetch({req, res});
        Object.assign(tag, data);
        tag.update();
      }

      // すべてのタグをまとめて配列化
      var tags = Object.values(tag.tags).flat();

      // 子タグがない場合は何もしない
      if (tags.length <= 0) return ;

      // fetch する
      var promises = tags.map(async (tag) => {
        return this.fetch(tag);
      });

      await Promise.all(promises);
    };

    this.getHead = (tag) => {
      var head = {};
      Object.assign(head, spalate.config.head);
      if (tag.head) {
        var data = tag.head();
        Object.assign(head, data);
        console.log(head);
      }

      return head;
    };
